html {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    background-color: #F5DCE0;
}

body {
    display: flex;
    flex-wrap: wrap;
}

h1 {
    text-align: center;
}

header {
    width: 100%;
    text-align: center;
}

hr {
    width: 60%;
}

.wrapper {
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: column;
    margin: 0 auto;
}

#uploadForm {
    display: flex;
    flex-direction: column;
}

.file-upload-area {
    width: 80%;
    height: 10rem;
    border: 2px dashed #999;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: #F5D6E0;
    transition: background-color 0.3s, border-color 0.3s;
    margin: 20px auto;
}

.file-upload-area:hover {
    background-color: #DFC5CA;
    border-color: #666;
}

.file-upload-area p {
    margin: 0;
    font-size: 16px;
    color: #333;
    text-align: center;
}

#analyzeButton {
    width: 30%;
    margin: 1rem auto;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #F5D6E0;
    transition: background-color 0.3s, border-color 0.3s;
    border-radius: 8px;
}

#analyzeButton:hover {
    background-color: #DFC5CA;
    border-color: #666;    
}

#status {
    margin: 0 auto;
}

#resultsHeader {
    width: 80%;
    margin: 0 auto;
}

#results {
    width:80%;
    margin: 0 auto;
    white-space: pre-wrap;
    padding: 10px;
    border-radius: 5px;
}

#subtitle {
    text-align: center;
    margin-bottom: 0;
}

.loading {
    font-style: italic;
    color: #555;
}

.steps{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    min-height: 627px;
}

.step-carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px auto;
}

.image-container {
  width: 250px;
  height: 482px;
  overflow: hidden;
  position: relative;
}

.image-container img {
  width: 100%;
  height: 100%;
  display: none; /* hide all images initially */
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 8px;
}

.nav-button {
  background-color: transparent;
  border: none;
  font-size: 2em;
  cursor: pointer;
  padding: 0 10px;
}

#imageDescription {
    max-width: 450px;
    text-align: center; 
    margin: 10px auto; 
    font-style: italic;
}

.faq-carousel {
  display: flex;
  justify-content: center;
  margin: 1rem auto;
  min-height: 381px;
  max-width: 450px;
}

.faq-container {
  overflow: hidden;
}

.faq-item {
  transition: transform 0.3s ease;
}

#faqTitle {
  margin-top: 0;
}

#faqAnswer {
  white-space: pre-wrap;
  text-align: justify;
}

.faq-link {
    text-decoration: none;
}

footer {
    bottom: 2rem;
    width: 100%;
    margin: 0 auto;
}

.footer {
    display: flex;
    box-sizing: border-box;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    font-size: 8pt;
    gap: 20rem;
}

@media (max-width: 480px) {
    .footer {
        font-size: 6pt;
        gap: 2rem;
    }
}