html {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

body {
    display: flex;
    flex-wrap: wrap;
    background-color: #F5DCE0;
}

/* Header */
.theme-switcher {
  position: fixed;
  top: 1rem;
  right: 1rem;
  font-size: .8rem;
  font-family: inherit;
  z-index: 1000;
}

#theme-selector {
    border-radius: 8px;
}

h1 {
    text-align: center;
}

header {
    width: 100%;
    text-align: center;
}

hr {
    width: 60%;
}

/* Body */
.wrapper {
    display: flex;
    height: auto;
    flex-direction: column;
    margin: 0 auto;
}

.main {
    padding: 0 10rem;
}

#subtitle {
    text-align: center;
    margin: 2rem 0 0 0;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.file-upload-area {
    width: 100%;
    height: 10rem;
    border: 2px dashed #999;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: #F5D6E0;
    transition: background-color 0.3s, border-color 0.3s;
}

.file-upload-area:hover {
    background-color: #DFC5CA;
    border-color: #666;
}

.file-upload-area p {
    margin: 0;
    font-size: 16px;
    color: #333;
    text-align: center;
}

.pushable {
    margin: 1rem auto;
    padding: 1rem .5rem;
    font-size: 16px;
    background-color: #F5D6E0;
    transition: background-color 0.3s, border-color 0.3s;
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
}

.pushable:hover {
    background-color: #DFC5CA;
    border-color: #666;    
}

#status, #status2 {
    margin: 0 auto;
}

#resultsHeader, #resultsHeader2 {
    margin: 1rem 0 0 0;
    text-align: center;
}

#results, #results2 {
    margin: 0;
    white-space: pre-wrap;
    padding: 10px;
    border-radius: 5px;
}

.two-forms {
    display: flex;
    margin: 0;
    gap: 1rem;
}

.follow-form {
    flex: 1;
    width: 165px;
    justify-content: center;
    word-break: break-all;
}

#uploadForm2, #uploadForm3 {
    flex: 1;
}

.two-forms-button {
    margin: 0 auto;
}

.loading {
    font-style: italic;
    color: #555;
}

.steps{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    min-height: 627px;
}

.step-carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px auto;
}

.image-container {
    width: 250px;
    height: 482px;
    overflow: hidden;
    position: relative;
}

.image-container img {
    width: 100%;
    height: 100%;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 8px;
}

.nav-button {
    background-color: transparent;
    border: none;
    font-size: 2em;
    cursor: pointer;
    padding: 0 10px;
}

#imageDescription {
    max-width: 450px;
    text-align: center; 
    margin: 10px auto; 
    font-style: italic;
}

.faq-carousel {
    display: flex;
    justify-content: center;
    margin: 1rem auto;
    min-height: 381px;
    max-width: 450px;
}

.faq-container {
    overflow: hidden;
}

.faq-item {
    transition: transform 0.3s ease;
}

#faqTitle {
    margin-top: 0;
}

#faqAnswer {
    white-space: pre-wrap;
    text-align: justify;
}

.faq-link {
    text-decoration: none;
}

/* Footer */
footer {
    bottom: 2rem;
    width: 100%;
    margin: 0 auto;
}

.footer {
    display: flex;
    box-sizing: border-box;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    font-size: 8pt;
    gap: 20rem;
}

/* Themes */
[data-theme='dark'] body {
  background-color: rgb(0, 0, 0);
  color: white;
}

[data-theme='dark'] .file-upload-area {
  background-color: rgb(50, 50, 50);
  color: white;
}

[data-theme='dark'] .file-upload-area:hover {
    background-color: rgb(75, 75, 75);
    border-color: #666;
    color: white;
}

[data-theme='dark'] .file-upload-area p {
    color: white;
}

[data-theme='dark'] .pushable:disabled {
    background-color: rgb(50, 50, 50);
    color: rgba(255, 255, 255, 0.3);
}

[data-theme='dark'] .pushable {
    background-color: rgb(50, 50, 50);
    color: white;
}

[data-theme='dark'] .pushable:hover {
    background-color: rgb(75, 75, 75);
    border-color: #666;    
}

[data-theme='dark'] .loading {
    color: rgb(150, 150, 150);
}

[data-theme='dark'] .image-container img {
    opacity: .8;
}

[data-theme='dark'] .nav-button {
    color: white;
}

[data-theme='dark-pink'] body {
    background-color: rgb(0, 0, 0);
    color: #F5DCE0;
}

[data-theme='dark-pink'] .file-upload-area {
    background-color: rgba(223, 197, 202, 0.5);
}

[data-theme='dark-pink'] .file-upload-area:hover {
    background-color: rgba(223, 197, 202, 0.8);
    border-color: #666;
}

[data-theme='dark-pink'] .file-upload-area p {
    color: #F5DCE0;
}

[data-theme='dark-pink'] .pushable:disabled {
    background-color: rgba(223, 197, 202, 0.3);
    color: rgba(245, 220, 224, 0.3);
}

[data-theme='dark-pink'] .pushable {
    background-color: rgba(223, 197, 202, 0.5);
    color: #F5DCE0;
}

[data-theme='dark-pink'] .pushable:hover {
    background-color: rgba(223, 197, 202, 0.8);
    border-color: #666;    
}

[data-theme='dark-pink'] .loading {
    color: rgba(245, 220, 224, 0.7);
}

[data-theme='dark-pink'] .image-container img {
    opacity: .8;
}

[data-theme='dark-pink'] .nav-button {
    color: #F5DCE0;
}

[data-theme='tiktok'] body {
    background-color: rgb(0, 0, 0);
    color: white
}

[data-theme='tiktok'] h1{
    background-image: linear-gradient(135deg, #25F4EE, #FE2C55);
    color: transparent;
    background-clip: text;
}

[data-theme='tiktok'] h2{
    background-image: linear-gradient(135deg, #25F4EE, #FE2C55);
    color: transparent;
    background-clip: text;
}

[data-theme='tiktok'] h3{
    background-image: linear-gradient(135deg, #25F4EE, #FE2C55);
    color: transparent;
    background-clip: text;
}


[data-theme='tiktok'] .file-upload-area {
    background-color: black;
    background-image: linear-gradient(135deg, rgba(37, 244, 237, 0.5), rgba(254, 44, 86, .8));
    border-color: rgba(37, 244, 237, 0.3);
}

[data-theme='tiktok'] .file-upload-area:hover {
    background-color: gray;
    border-color: rgba(37, 244, 237, 0.5);
}

[data-theme='tiktok'] .file-upload-area p {
    color: white;
}

[data-theme='tiktok'] .pushable:disabled {
    background-color: black;
    background-image: linear-gradient(135deg, rgba(37, 244, 237, 0.5), rgba(254, 44, 86, .8));
    color: rgba(255, 255, 255, 0.3);
}

[data-theme='tiktok'] .pushable {
    background-color: black;
    background-image: linear-gradient(135deg, rgba(37, 244, 237, 0.5), rgba(254, 44, 86, .8));
    color: white;
}

[data-theme='tiktok'] .pushable:hover {
    background-color: gray;
    border-color: rgba(37, 244, 237, 0.5);   
}

[data-theme='tiktok'] .loading {
    color: rgba(255, 255, 255, 0.6);
}

[data-theme='tiktok'] .image-container img {
    opacity: .8;
}

[data-theme='tiktok'] #prevBtn {
    color: #25F4EE;
}

[data-theme='tiktok'] #nextBtn {
    color: #FE2C55;
}

/* Phones */
@media (max-width: 480px) {
    header {
        margin-top: 1rem;
    }
    hr {
        width: 100%;
    }
    .main {
        padding: 0;
    }
    .large {
        width: 80%;
    }
    .footer {
        font-size: 6pt;
        gap: 2rem;
    }
}